@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .logo-dot {
        background-color: theme('colors.highlight.DEFAULT');
        border-radius: 50%;
        width: 27px;
        height: 27px;
        display: inline-block;
    }

    summary.marker-hide,
    summary.marker-rotating {
        @apply list-none
    }

    /* hides the summary marker on IOS */
    summary.marker-hide::-webkit-details-marker,
    summary.marker-rotating::-webkit-details-marker {
        display: none;
    }

    details>summary::after {
        content: attr(data-open);
    }

    details[open]>summary::after {
        content: attr(data-close);
    }

    details>summary.marker-rotating {
        @apply pl-4;
    }

    details>summary.marker-rotating::before {
        content: '';
        border-width: .4rem;
        border-style: solid;
        position: absolute;
        top: 0.4em;
        left: 0;
        transform: rotate(0);
        transform-origin: .2rem 50%;
        transition: .25s transform ease;
    }

    .dropdown> :not(summary) {
        opacity: 0;
        transform: scale(0.95, 0.95);
    }

    details[open]>summary::before {
        transform: rotate(-90deg);
    }

    details[open].dropdown>:not(summary):not(.animate-dropdown-close) {
        @apply animate-dropdown-open
    }
}
