@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .logo-dot {
        background-color: theme('colors.l-bgr-highlight');
        border-radius: 50%;
        width: 27px;
        height: 27px;
        display: inline-block;
    }

    details summary::after {
        content: attr(data-open);
    }

    details[open] summary::after {
        content: attr(data-close);
    }
}
